.App {
	padding: 0;
}

.App-logo {
	width: 200px;
	pointer-events: none;
}

.App-header {
	padding: 50px;
	background-color: #18fcf4;
	min-height: 100vh;
	display: flex;
	flex-direction: column;

	font-size: calc(10px + 2vmin);
	color: black;
}

.ButtonSubmit {
	width: 150px;
	margin-top: 20px;
}
